.classpath
.metadata
.project
.settings
.svn
*.csproj.user
*.suo
*.launch
*.pdsync
*.pdsyncu
*.testsettings
*.vsmdi
ambeth-log.txt

/*/*/bin
/*/*/Bin
/*/*/obj
/*/target
/*/*/target
/*/*/TestResults

/ambeth-integrity/de.osthus.classbrowser.csharp/CsharpClassbrowser/CsharpClassbrowser/bin
/ambeth-integrity/de.osthus.classbrowser.csharp/CsharpClassbrowser/CsharpClassbrowser/obj
