<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.github.dockerjava" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.koch.ambeth" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.koch.ambeth.bytecode.core" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.koch.ambeth.merge.MergeServiceRegistry" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.koch.ambeth.persistence.jdbc.connection.LogPreparedStatementInterceptor" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.koch.ambeth.persistence.jdbc.connection.LogStatementInterceptor" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.burningwave" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.testcontainers" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
